@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}
 $main_font: 'Roboto', sans-serif;
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #f5fbfa;
}
.container {
  max-width: 1200px;
  margin: auto;
}
header{
  padding-top: 10px;
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
      position: relative;
      @include max-screen(465px){
        left: 100px;
      }
      @include max-screen(403px){
    left: 60px;
      }
    }
  }
  nav{
    ul{
      display: flex;
      align-items: center;
      @include max-screen(465px){
        display: none;
      }
      li{
        list-style: none;
        margin-right: 50px;
        @include max-screen(789px){
          margin-right: 30px;
        }
        @include max-screen(647px){
          margin-right: 15px;
        }
        @include max-screen(552px){
          margin-right: 10px;
        }
        &:last-of-type{
          background: #40A3F8;
          border-radius: 5px;
          padding: 11px 28px;
          margin-right: 0;
          @include max-screen(709px){
            padding: 7px 14px;
          }
          @include max-screen(552px){
            padding: 5px 10px;
          }
          a{
            &:last-of-type{
              color: white;
              &:hover{
                color: #6E5F5F;
              };
            }
          }
        }
        a{
          text-decoration: none;
          font-family: $main_font;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: #6E5F5F;
          opacity: 0.3;
          @include max-screen(647px){
            font-size: 12px;
          }
          @include max-screen(552px){
            font-size: 10px;
          }
          &:hover{
            color: #40A3F8;
            opacity: 1;
          }
        }
      }
    }
  }
}
.main_banner{
  padding-top: 100px;
  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1293px){
    flex-direction: column;
      box-sizing: border-box;
    }
    .main_image{
      position: relative;
      right: 130px;
      bottom: 50px;
      z-index: 1;
      @media (max-width: 1433px){
        right: 200px;
      }
      @media (max-width: 1293px){
        right: 80px;
        bottom: -40px;
      }
      @media (max-width: 571px){
        right: 115px;
      }
      @media (max-width: 467px){
        right: 55px;
      }
      @media (max-width:404px){
        right: 40px;
      }
      @media (max-width:359px){
        right: 55px;
      }
      @media (max-width:340px){
        right: 35px;
      }

      &:before{
        content: url("../images/backfon.png");
        position: absolute;
        z-index: -1;
        left: 210px;
        top: -25px;
        @media (max-width: 863px){
        display: none;
        }
      }
      .image{
        display: block;
        @media (max-width: 1293px){
          width: 100%;
        }
      }
    }
    .main_box{
      @media (max-width: 590px){
        max-width: 482px;
      }
      h1{
        font-family: $main_font;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 70px;
        color: #3E3E3E;
        max-width: 482px;
        margin-bottom: 31px;
        @media (max-width: 495px){
          font-size: 42px;
          margin-left: 10px;
        }
        span{
          color: #40A3F8;
        }
      }
      p{
        margin-bottom: 50px;
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 30px;
        color: rgba(117, 117, 117, 0.46);
        max-width: 460px;
        @media (max-width: 495px){
          font-size: 12px;
          margin-left: 10px;
        }
      }
      .main_text{
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 30px;
        color: rgba(117, 117, 117, 0.46);
      }
      .main_form {
        background: #FFFFFF;
        box-shadow: 0 4px 22px rgba(228, 245, 252, 0.3);
        border-radius: 8px;
        padding: 13px 13px 14px;
        display: flex;
        max-width: 566px;
        @media (max-width: 590px){
          display: block;
          max-width: 320px;
        }
        @media (max-width: 495px){
          max-width: 280px;
          margin-left: 30px;
        }
        @media (max-width: 340px){
          margin-left: 10px;
        }

        input {
          background: rgba(245, 246, 250, 0.52);
          border-radius: 8px;
          padding: 17px 25px 18px 30px;
          margin-right: 20px;
          border: none;
          @media (max-width: 590px){
            width: 100%;
            margin-bottom: 15px;
          }
        }
        button {
          height: 59px;
          width: 70px;
          position: relative;
          background: #40A3F8;
          border-radius: 8px;
          cursor: pointer;
          z-index: 2;
          &:hover{
            background: black;
          }
          &:before{
          content: url("../images/search.svg");
          position: absolute;
          top: 10px;
          left: 25%;
        }
      }
      }
    }
  }
}
.steps{
  padding: 75px 0 83px;
  h3{
    text-align: center;
    margin-bottom: 51px;
    font-family: $main_font;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 70px;
    color: #3E3E3E;
  }
  .steps_box{
    display: flex;
    justify-content: space-between;
    @media (max-width: 990px){
      flex-wrap: wrap;
      justify-content: center;
    }
    @media (max-width: 668px){
      flex-direction: column;
      align-items: center;
    }
    .steps_items{
      text-align: center;
      margin-right: 15px;
      &:hover{
        transform: scale(1.1);
        transition-duration: 1.5s;
      }
      @media (max-width: 668px){
        margin-bottom: 15px;
      }
      &:nth-child(2){
        .steps_image{
            background-color: rgba(255, 180, 26, 0.12);
          padding: 12px;
        }
      }
      &:last-of-type{
        .steps_image{
          padding: 11px;
        }
      }
      .steps_image{
        margin: auto;
        background-color: rgba(56, 175, 255, 0.1);
        max-width: 80px;
        padding: 16px;
        border-radius: 50%;
      }
      .steps_title{
        margin-top: 5px;
        margin-bottom: 18px;
        font-family: $main_font;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        color: #3D3D3F;
      }
      .steps_text{
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        color: rgba(0, 0, 0, 0.5);
        max-width: 319px;
      }
    }
  }
}
.quality{
  padding-bottom: 143px;
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 1190px){
      flex-direction: column;
    }
    .quality_image{
      max-width: 647px;
      .image{
        width: 100%;
      }
      @media (max-width: 1190px){
        margin-bottom: 15px;
        align-items: center;
      }
    }
    .quality_box{
      max-width: 506px;
      @media (max-width: 520px){
        margin-left: 10px;
      }
      .quality_title{
        margin-bottom: 24px;
        font-family: $main_font;
        font-style: normal;
        font-weight: 500;
        font-size: 42px;
        line-height: 49px;
        letter-spacing: 0.02em;
        color: #3D3D3F;
      }
      .quality_text{
        font-family: $main_font;
        margin-bottom: 3px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.02em;
        color: rgba(61, 61, 63, 0.7);
      }
      .quality_list{
        margin-bottom: 24px;
        list-style: none;
        li{
          font-family: $main_font;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 30px;
          letter-spacing: 0.02em;
          color: #3D3D3F;
          margin-bottom: 14px;
          &:before{
            content: url("../images/circle.svg");
            margin-right: 17px;
            text-align: center;
            display: inline-block;
            position: relative;
            top: 4px;
          }
        }
      }
      .quality_link{
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        text-decoration: none;
        background: #40A3F8;
        border-radius: 5px;
        padding: 15px 22px;
        &:hover {
          background: dodgerblue;
        }
        &:after{
          content: url("../images/arrow.svg");
          position: relative;
          left: 8px;
          display: inline-block;
        }
      }
    }
  }
}
.service{
  padding-bottom: 94px;
  .service_title{
    font-family: $main_font;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.02em;
    color: #3D3D3F;
    text-align: center;
    margin-bottom: 24px;
  }
  .service_text{
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.02em;
    color: rgba(61, 61, 63, 0.7);
    margin-bottom: 75px;
  }
  .service_box{
    display: flex;
    justify-content: space-between;
    .service_item{
      background-color: rgba(254, 254, 254, 0.51);
      max-width: 349px;
      padding: 61px 0 31px;
      &:nth-child(2){
        position: relative;
        background-color: white;
        border-radius: 0 0 10px 10px;
        padding-bottom: 40px;
        .service_photo{
          max-width: 77px;
        }
      }
      &:last-of-type{
        .service_photo{
          transform: rotate(-4.38deg);
          max-width: 73px;
        }
      }
      .service_photo{
        margin: auto;
        max-width: 108px;

       .image{
         width: 100%;
         display: block;
       }
      }
      .service_subtitle{
        font-family: $main_font;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: #3D3D3F;
        margin-top: 72px;
        margin-bottom: 23px;
      }
      .service_desc{
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: #999999;
      }
    }
  }
}
.doctors{
  padding-bottom: 60px;
  .container {
    h3 {
      font-family: $main_font;
      text-align: center;
      font-style: normal;
      font-weight: 500;
      font-size: 42px;
      line-height: 49px;
      letter-spacing: 0.02em;
      color: #3D3D3F;
      margin-bottom: 20px;
    }

    .doctors_text {
      font-family: $main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      text-align: center;
      letter-spacing: 0.02em;
      color: rgba(61, 61, 63, 0.7);
      margin-bottom: 60px;
    }

    .doctors_box {
      display: flex;
      justify-content: space-between;
      margin-bottom: 58px;
      @media (max-width: 970px){
        flex-wrap: wrap;
        justify-content: space-around;
      }


      .doctors_items {
        background: rgba(254, 254, 254, 0.51);
        border: 1px solid #EEEFF1;
        filter: drop-shadow(0px 4px 120px rgba(0, 0, 0, 0.05));
        border-radius: 10px;

        &:hover {
          transform: scale(1.1);
          transition-duration: 0.5s;
        }

        &:first-of-type {
          .doctors_image {
            margin-top: -10px;
          }

          h4 {
            margin-top: -69px;
          }
        }
        &:nth-child(2){
          @media (max-width: 485px){
            margin-top: 15px;
          }
        }
        &:nth-child(3){
          @media (max-width: 727px){
            margin-top: 15px;
          }
        }
        &:last-of-type{
          @media (max-width: 970px){
            margin-top: 15px;
          }
        }

        .doctors_image {
          max-width: 241px;

          img {
            width: 100%;
            display: block;
          }
        }

        h4 {
          font-family: $main_font;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 30px;
          text-align: center;
          color: #3D3D3F;
          margin-top: -80px;
        }

        p {
          font-family: $main_font;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          text-align: center;
          color: #999999;
          margin-bottom: 17px;
        }

        .doctors_links {
          display: flex;
          justify-content: center;
          margin-bottom: 25px;

          a {
            margin-right: 11px;
            text-decoration: none;
            display: inline-block;

            &:last-of-type {
              margin-right: 0;
            }
          }
        }
      }
    }

    .doctors_last_link {
      background: #40A3F8;
      border-radius: 5px;
      padding: 9px 21px;
max-width: 195px;
      margin: auto;
      &:hover {
        background: dodgerblue;
      }
      a {
        text-decoration: none;
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: #FFFFFF;
        display: inline-block;
      }
    }
  }
}
footer{
  background-color: white;
  padding: 50px 0;
  .container{
    display: flex;
    justify-content: space-between;
    .information{
      p{
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 180%;
        color: #646464;
        margin-bottom: 16px;
      }
      .icons{
        a{
          margin-right: 16px;
          &:last-of-type{
            margin-right: 0;
          }
        }
      }
    }
    .category{
      li{
        list-style: none;
        margin-bottom: 24px;
        &:hover{
          transform: scale(1.1);
        }
        &:first-of-type{
          a{
            font-family: $main_font;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 16px;
            color: #323232;
          }
        }
        a{
          text-decoration: none;
          font-family: $main_font;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 14px;
          color: #646464;

        }
      }
    }
    .about{
      li{
        list-style: none;
        margin-bottom: 24px;
        &:hover{
          transform: scale(1.1);
        }
        &:first-of-type{
          a{
            font-family: $main_font;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 16px;
            color: #323232;
          }
        }
        a{
          font-family: $main_font;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 14px;
          color: #646464;
          text-decoration: none;
        }
      }
    }
    .subscribe{
      h3{
        font-family: $main_font;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        color: #323232;
        margin-bottom: 19px;
      }
      p{
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 180%;
        color: #646464;
        margin-bottom: 26px;
        max-width: 277px;

      }
      .subscribe_form{
        max-width: 292px;
        display: flex;
        flex-direction: column;
        input{
          background: #FFFFFF;
          border: 1.1px solid #E1E2E4;
          border-radius: 5px;
          padding: 12px 20px;
          margin-bottom: 12px;
          ::placeholder{
            font-family: $main_font;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: rgba(117, 117, 117, 0.65);
          }
        }
        button{
          background: #40A3F8;
          border: 1.1px solid #E1E2E4;
          border-radius: 5px;
          padding: 12px 117px;
          font-family: $main_font;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          letter-spacing: 0.02em;
          color: #FFFFFF;
        }
      }
    }
  }
}