@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}
 $main_font: 'Roboto', sans-serif;
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #f5fbfa;
}
.container {
  max-width: 1200px;
  margin: auto;
}
header{
  padding-top: 10px;
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
      position: relative;
      @include max-screen(465px){
        left: 100px;
      }
      @include max-screen(403px){
    left: 60px;
      }
    }
  }
  nav{
    ul{
      display: flex;
      align-items: center;
      @include max-screen(465px){
        display: none;
      }
      li{
        list-style: none;
        margin-right: 50px;
        @include max-screen(789px){
          margin-right: 30px;
        }
        @include max-screen(647px){
          margin-right: 15px;
        }
        @include max-screen(552px){
          margin-right: 10px;
        }
        &:last-of-type{
          background: #40A3F8;
          border-radius: 5px;
          padding: 11px 28px;
          margin-right: 0;
          @include max-screen(709px){
            padding: 7px 14px;
          }
          @include max-screen(552px){
            padding: 5px 10px;
          }
          a{
            &:last-of-type{
              color: white;
              &:hover{
                color: #6E5F5F;
              };
            }
          }
        }
        a{
          text-decoration: none;
          font-family: $main_font;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: #6E5F5F;
          opacity: 0.3;
          @include max-screen(647px){
            font-size: 12px;
          }
          @include max-screen(552px){
            font-size: 10px;
          }
          &:hover{
            color: #40A3F8;
            opacity: 1;
          }
        }
      }
    }
  }
}
.main_banner{
  padding-top: 100px;
  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1293px){
    flex-direction: column;
      box-sizing: border-box;
    }
    .main_image{
      position: relative;
      right: 130px;
      bottom: 50px;
      z-index: 1;
      @media (max-width: 1433px){
        right: 200px;
      }
      @media (max-width: 1293px){
        right: 80px;
        bottom: -40px;
      }
      @media (max-width: 571px){
        right: 115px;
      }
      @media (max-width: 467px){
        right: 95px;
      }
      @media (max-width:404px){
        right: 75px;
      }
      @media (max-width:359px){
        right: 55px;
      }

      &:before{
        content: url("../images/backfon.png");
        position: absolute;
        z-index: -1;
        left: 210px;
        top: -25px;
        @media (max-width: 863px){
        display: none;
        }
      }
      .image{
        display: block;
        @media (max-width: 1293px){
          width: 100%;
        }
      }
    }
    .main_box{
      @media (max-width: 590px){
        max-width: 482px;
      }
      h1{
        font-family: $main_font;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 70px;
        color: #3E3E3E;
        max-width: 482px;
        margin-bottom: 31px;
        @media (max-width: 495px){
          font-size: 42px;
          margin-left: 10px;
        }
        span{
          color: #40A3F8;
        }
      }
      p{
        margin-bottom: 50px;
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 30px;
        color: rgba(117, 117, 117, 0.46);
        max-width: 460px;
        @media (max-width: 495px){
          font-size: 12px;
          margin-left: 10px;
        }
      }
      .main_text{
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 30px;
        color: rgba(117, 117, 117, 0.46);
      }
      .main_form {
        background: #FFFFFF;
        box-shadow: 0 4px 22px rgba(228, 245, 252, 0.3);
        border-radius: 8px;
        padding: 13px 13px 14px;
        display: flex;
        max-width: 566px;
        @media (max-width: 590px){
          display: block;
          max-width: 320px;
        }
        @media (max-width: 495px){
          max-width: 280px;
          margin-left: 30px;
        }
        @media (max-width: 340px){
          margin-left: 10px;
        }

        input {
          background: rgba(245, 246, 250, 0.52);
          border-radius: 8px;
          padding: 17px 25px 18px 30px;
          margin-right: 20px;
          border: none;
          @media (max-width: 590px){
            width: 100%;
            margin-bottom: 15px;
          }
        }
        button {
          height: 59px;
          width: 70px;
          position: relative;
          background: #40A3F8;
          border-radius: 8px;
          cursor: pointer;
          &:before{
          content: url("../images/search.svg");
          position: absolute;
          top: 10px;
          left: 25%;
        }
      }
      }
    }
  }
}