@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5fbfa;
}

.container {
  max-width: 1200px;
  margin: auto;
}

header {
  padding-top: 10px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo {
  position: relative;
}
@media screen and (max-width: 465px) {
  header .container .logo {
    left: 100px;
  }
}
@media screen and (max-width: 403px) {
  header .container .logo {
    left: 60px;
  }
}
header nav ul {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 465px) {
  header nav ul {
    display: none;
  }
}
header nav ul li {
  list-style: none;
  margin-right: 50px;
}
@media screen and (max-width: 789px) {
  header nav ul li {
    margin-right: 30px;
  }
}
@media screen and (max-width: 647px) {
  header nav ul li {
    margin-right: 15px;
  }
}
@media screen and (max-width: 552px) {
  header nav ul li {
    margin-right: 10px;
  }
}
header nav ul li:last-of-type {
  background: #40A3F8;
  border-radius: 5px;
  padding: 11px 28px;
  margin-right: 0;
}
@media screen and (max-width: 709px) {
  header nav ul li:last-of-type {
    padding: 7px 14px;
  }
}
@media screen and (max-width: 552px) {
  header nav ul li:last-of-type {
    padding: 5px 10px;
  }
}
header nav ul li:last-of-type a:last-of-type {
  color: white;
}
header nav ul li:last-of-type a:last-of-type:hover {
  color: #6E5F5F;
}
header nav ul li a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #6E5F5F;
  opacity: 0.3;
}
@media screen and (max-width: 647px) {
  header nav ul li a {
    font-size: 12px;
  }
}
@media screen and (max-width: 552px) {
  header nav ul li a {
    font-size: 10px;
  }
}
header nav ul li a:hover {
  color: #40A3F8;
  opacity: 1;
}

.main_banner {
  padding-top: 100px;
}
.main_banner .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1293px) {
  .main_banner .container {
    flex-direction: column;
    box-sizing: border-box;
  }
}
.main_banner .container .main_image {
  position: relative;
  right: 130px;
  bottom: 50px;
  z-index: 1;
}
@media (max-width: 1433px) {
  .main_banner .container .main_image {
    right: 200px;
  }
}
@media (max-width: 1293px) {
  .main_banner .container .main_image {
    right: 80px;
    bottom: -40px;
  }
}
@media (max-width: 571px) {
  .main_banner .container .main_image {
    right: 115px;
  }
}
@media (max-width: 467px) {
  .main_banner .container .main_image {
    right: 55px;
  }
}
@media (max-width: 404px) {
  .main_banner .container .main_image {
    right: 40px;
  }
}
@media (max-width: 359px) {
  .main_banner .container .main_image {
    right: 55px;
  }
}
@media (max-width: 340px) {
  .main_banner .container .main_image {
    right: 35px;
  }
}
.main_banner .container .main_image:before {
  content: url("../images/backfon.png");
  position: absolute;
  z-index: -1;
  left: 210px;
  top: -25px;
}
@media (max-width: 863px) {
  .main_banner .container .main_image:before {
    display: none;
  }
}
.main_banner .container .main_image .image {
  display: block;
}
@media (max-width: 1293px) {
  .main_banner .container .main_image .image {
    width: 100%;
  }
}
@media (max-width: 590px) {
  .main_banner .container .main_box {
    max-width: 482px;
  }
}
.main_banner .container .main_box h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 70px;
  color: #3E3E3E;
  max-width: 482px;
  margin-bottom: 31px;
}
@media (max-width: 495px) {
  .main_banner .container .main_box h1 {
    font-size: 42px;
    margin-left: 10px;
  }
}
.main_banner .container .main_box h1 span {
  color: #40A3F8;
}
.main_banner .container .main_box p {
  margin-bottom: 50px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: rgba(117, 117, 117, 0.46);
  max-width: 460px;
}
@media (max-width: 495px) {
  .main_banner .container .main_box p {
    font-size: 12px;
    margin-left: 10px;
  }
}
.main_banner .container .main_box .main_text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: rgba(117, 117, 117, 0.46);
}
.main_banner .container .main_box .main_form {
  background: #FFFFFF;
  box-shadow: 0 4px 22px rgba(228, 245, 252, 0.3);
  border-radius: 8px;
  padding: 13px 13px 14px;
  display: flex;
  max-width: 566px;
}
@media (max-width: 590px) {
  .main_banner .container .main_box .main_form {
    display: block;
    max-width: 320px;
  }
}
@media (max-width: 495px) {
  .main_banner .container .main_box .main_form {
    max-width: 280px;
    margin-left: 30px;
  }
}
@media (max-width: 340px) {
  .main_banner .container .main_box .main_form {
    margin-left: 10px;
  }
}
.main_banner .container .main_box .main_form input {
  background: rgba(245, 246, 250, 0.52);
  border-radius: 8px;
  padding: 17px 25px 18px 30px;
  margin-right: 20px;
  border: none;
}
@media (max-width: 590px) {
  .main_banner .container .main_box .main_form input {
    width: 100%;
    margin-bottom: 15px;
  }
}
.main_banner .container .main_box .main_form button {
  height: 59px;
  width: 70px;
  position: relative;
  background: #40A3F8;
  border-radius: 8px;
  cursor: pointer;
  z-index: 2;
}
.main_banner .container .main_box .main_form button:hover {
  background: black;
}
.main_banner .container .main_box .main_form button:before {
  content: url("../images/search.svg");
  position: absolute;
  top: 10px;
  left: 25%;
}

.steps {
  padding: 75px 0 83px;
}
.steps h3 {
  text-align: center;
  margin-bottom: 51px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 70px;
  color: #3E3E3E;
}
.steps .steps_box {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 990px) {
  .steps .steps_box {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 668px) {
  .steps .steps_box {
    flex-direction: column;
    align-items: center;
  }
}
.steps .steps_box .steps_items {
  text-align: center;
  margin-right: 15px;
}
.steps .steps_box .steps_items:hover {
  transform: scale(1.1);
  transition-duration: 1.5s;
}
@media (max-width: 668px) {
  .steps .steps_box .steps_items {
    margin-bottom: 15px;
  }
}
.steps .steps_box .steps_items:nth-child(2) .steps_image {
  background-color: rgba(255, 180, 26, 0.12);
  padding: 12px;
}
.steps .steps_box .steps_items:last-of-type .steps_image {
  padding: 11px;
}
.steps .steps_box .steps_items .steps_image {
  margin: auto;
  background-color: rgba(56, 175, 255, 0.1);
  max-width: 80px;
  padding: 16px;
  border-radius: 50%;
}
.steps .steps_box .steps_items .steps_title {
  margin-top: 5px;
  margin-bottom: 18px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #3D3D3F;
}
.steps .steps_box .steps_items .steps_text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  max-width: 319px;
}

.quality {
  padding-bottom: 143px;
}
.quality .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1190px) {
  .quality .container {
    flex-direction: column;
  }
}
.quality .container .quality_image {
  max-width: 647px;
}
.quality .container .quality_image .image {
  width: 100%;
}
@media (max-width: 1190px) {
  .quality .container .quality_image {
    margin-bottom: 15px;
    align-items: center;
  }
}
.quality .container .quality_box {
  max-width: 506px;
}
@media (max-width: 520px) {
  .quality .container .quality_box {
    margin-left: 10px;
  }
}
.quality .container .quality_box .quality_title {
  margin-bottom: 24px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.02em;
  color: #3D3D3F;
}
.quality .container .quality_box .quality_text {
  font-family: "Roboto", sans-serif;
  margin-bottom: 3px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: rgba(61, 61, 63, 0.7);
}
.quality .container .quality_box .quality_list {
  margin-bottom: 24px;
  list-style: none;
}
.quality .container .quality_box .quality_list li {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #3D3D3F;
  margin-bottom: 14px;
}
.quality .container .quality_box .quality_list li:before {
  content: url("../images/circle.svg");
  margin-right: 17px;
  text-align: center;
  display: inline-block;
  position: relative;
  top: 4px;
}
.quality .container .quality_box .quality_link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  text-decoration: none;
  background: #40A3F8;
  border-radius: 5px;
  padding: 15px 22px;
}
.quality .container .quality_box .quality_link:hover {
  background: dodgerblue;
}
.quality .container .quality_box .quality_link:after {
  content: url("../images/arrow.svg");
  position: relative;
  left: 8px;
  display: inline-block;
}

.service {
  padding-bottom: 94px;
}
.service .service_title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.02em;
  color: #3D3D3F;
  text-align: center;
  margin-bottom: 24px;
}
.service .service_text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.02em;
  color: rgba(61, 61, 63, 0.7);
  margin-bottom: 75px;
}
.service .service_box {
  display: flex;
  justify-content: space-between;
}
.service .service_box .service_item {
  background-color: rgba(254, 254, 254, 0.51);
  max-width: 349px;
  padding: 61px 0 31px;
}
.service .service_box .service_item:nth-child(2) {
  position: relative;
  background-color: white;
  border-radius: 0 0 10px 10px;
  padding-bottom: 40px;
}
.service .service_box .service_item:nth-child(2) .service_photo {
  max-width: 77px;
}
.service .service_box .service_item:last-of-type .service_photo {
  transform: rotate(-4.38deg);
  max-width: 73px;
}
.service .service_box .service_item .service_photo {
  margin: auto;
  max-width: 108px;
}
.service .service_box .service_item .service_photo .image {
  width: 100%;
  display: block;
}
.service .service_box .service_item .service_subtitle {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #3D3D3F;
  margin-top: 72px;
  margin-bottom: 23px;
}
.service .service_box .service_item .service_desc {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #999999;
}

.doctors {
  padding-bottom: 60px;
}
.doctors .container h3 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.02em;
  color: #3D3D3F;
  margin-bottom: 20px;
}
.doctors .container .doctors_text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.02em;
  color: rgba(61, 61, 63, 0.7);
  margin-bottom: 60px;
}
.doctors .container .doctors_box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 58px;
}
@media (max-width: 970px) {
  .doctors .container .doctors_box {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.doctors .container .doctors_box .doctors_items {
  background: rgba(254, 254, 254, 0.51);
  border: 1px solid #EEEFF1;
  filter: drop-shadow(0px 4px 120px rgba(0, 0, 0, 0.05));
  border-radius: 10px;
}
.doctors .container .doctors_box .doctors_items:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
}
.doctors .container .doctors_box .doctors_items:first-of-type .doctors_image {
  margin-top: -10px;
}
.doctors .container .doctors_box .doctors_items:first-of-type h4 {
  margin-top: -69px;
}
@media (max-width: 485px) {
  .doctors .container .doctors_box .doctors_items:nth-child(2) {
    margin-top: 15px;
  }
}
@media (max-width: 727px) {
  .doctors .container .doctors_box .doctors_items:nth-child(3) {
    margin-top: 15px;
  }
}
@media (max-width: 970px) {
  .doctors .container .doctors_box .doctors_items:last-of-type {
    margin-top: 15px;
  }
}
.doctors .container .doctors_box .doctors_items .doctors_image {
  max-width: 241px;
}
.doctors .container .doctors_box .doctors_items .doctors_image img {
  width: 100%;
  display: block;
}
.doctors .container .doctors_box .doctors_items h4 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #3D3D3F;
  margin-top: -80px;
}
.doctors .container .doctors_box .doctors_items p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #999999;
  margin-bottom: 17px;
}
.doctors .container .doctors_box .doctors_items .doctors_links {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
.doctors .container .doctors_box .doctors_items .doctors_links a {
  margin-right: 11px;
  text-decoration: none;
  display: inline-block;
}
.doctors .container .doctors_box .doctors_items .doctors_links a:last-of-type {
  margin-right: 0;
}
.doctors .container .doctors_last_link {
  background: #40A3F8;
  border-radius: 5px;
  padding: 9px 21px;
  max-width: 195px;
  margin: auto;
}
.doctors .container .doctors_last_link:hover {
  background: dodgerblue;
}
.doctors .container .doctors_last_link a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  display: inline-block;
}

footer {
  background-color: white;
  padding: 50px 0;
}
footer .container {
  display: flex;
  justify-content: space-between;
}
footer .container .information p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #646464;
  margin-bottom: 16px;
}
footer .container .information .icons a {
  margin-right: 16px;
}
footer .container .information .icons a:last-of-type {
  margin-right: 0;
}
footer .container .category li {
  list-style: none;
  margin-bottom: 24px;
}
footer .container .category li:hover {
  transform: scale(1.1);
}
footer .container .category li:first-of-type a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #323232;
}
footer .container .category li a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #646464;
}
footer .container .about li {
  list-style: none;
  margin-bottom: 24px;
}
footer .container .about li:hover {
  transform: scale(1.1);
}
footer .container .about li:first-of-type a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #323232;
}
footer .container .about li a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #646464;
  text-decoration: none;
}
footer .container .subscribe h3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #323232;
  margin-bottom: 19px;
}
footer .container .subscribe p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #646464;
  margin-bottom: 26px;
  max-width: 277px;
}
footer .container .subscribe .subscribe_form {
  max-width: 292px;
  display: flex;
  flex-direction: column;
}
footer .container .subscribe .subscribe_form input {
  background: #FFFFFF;
  border: 1.1px solid #E1E2E4;
  border-radius: 5px;
  padding: 12px 20px;
  margin-bottom: 12px;
}
footer .container .subscribe .subscribe_form input ::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgba(117, 117, 117, 0.65);
}
footer .container .subscribe .subscribe_form button {
  background: #40A3F8;
  border: 1.1px solid #E1E2E4;
  border-radius: 5px;
  padding: 12px 117px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

/*# sourceMappingURL=style.css.map */
